.wrapper {
    width: 980px;
    height: 600px;
    background-color: lightsteelblue;
    margin: 0px auto;
    padding: 30px;
}
.title {
    width: 300px;
    border: 1px solid black;
    margin: 30px auto;
}
.time {
    width: 400px;
    border: 1px solid black;
    margin: 0px auto; 
}
p, h2 {
    text-align: center;
}